@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Euclid Circular B";
  src: url("/fonts/Euclid Circular B Medium.ttf") format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Euclid Circular B", sans-serif;
}
@layer base {
  body {
    @apply text-gray-900; /* Sets default text color to near-black */
  }
}
